h1, h2, h3 {
	width: 50px;
}

.class1, #id1, h6 {
	width: 100px;
}

div > a {
	width: 150px;
}

.class1.class3#id5 > p#id8 {
	width: 200px;
}

#id10 + #id11 {
    width: 250px;
}

.class7#id10 + p {
    width: 300px;
}

p ~ a {
    width: 350px;
}

span.header ~ p {
    width: 400px;
}

div span {
    width: 450px;
}

.footer a {
    width: 500px;
}
