body
{
	font-size: medium;
	line-height: 1.2em;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 2em;
	font-family: Charis;
}

@font-face {
	font-family: "Charis1";
	font-style: normal;
	font-weight: 100 400;
	src: local(CharisSILR), url(fonts/CharisSILR.ttf);
}

@font-face {
	font-family: "Charis2";
	font-style: normal;
	font-weight: bold;
	src:url(fonts/CharisSILB.ttf);
}

@font-face {
	font-family: "Charis3";
	font-style: italic;
	font-weight: normal;
	src: local(CharisSILI);
}

@font-face {
	font-family: "Charis4";
	font-style: italic;
	font-weight: bold;
	src:url(fonts/CharisSILBI.ttf);
}