h1 {
	font-size: 2.1em;
	font-style: bold;
}

h2 {
	font-size: 1.875em;
	font-style: bold;
}

h3 {
	font-size: 1.5em;
	font-style: bold;
}

h4 {
	font-size: 1.25em;
	font-style: bold;
}

h5 {
	font-size: 1.15em;
	font-style: bold;
}

h6 {
	font-style: bold;
}

em, i {
	font-style: italic;
}

b, strong {
    font-style: bold;
}

a, b, br, cite, code, dfn, em, i, kbd, object, q, samp, span, strong, sub, sup, time, var {
    display: inline;
}

